# Demographic analysis housing

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

from matplotlib import pyplot as plt
%matplotlib inline

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
data_raw = pd.read_csv('./data/prolific_export_housing.csv')

In [4]:
data = data_raw.copy()
print(data.shape)
data.head()

(132, 21)

,session_id,participant_id,status,started_datetime,completed_date_time,time_taken,age,num_approvals,num_rejections,prolific_score,reviewed_at_datetime,entered_code,Country of Birth,Current Country of Residence,Employment Status,First Language,Fluent languages,Industry,Nationality,Sex,Student Status
0,6125c110e25b73c8d745fbd2,610827688c36871a5b12f9ca,APPROVED,2021-08-25 04:03:39.127000,2021-08-25 04:10:39.826000,420.699,21,42,1,100,2021-08-25 15:59:43.415000,9EC36FE2,United States,United States,Part-Time,English,English,Real Estate Rental and Leasing,United States,Female,Yes
1,6125c3f42a50845c44e9113f,61094e90bb5ea378f32617d5,APPROVED,2021-08-25 04:18:51.110000,2021-08-25 04:25:41.191000,410.081,22,63,0,100,2021-08-25 15:59:43.490000,9EC36FE2,United States,United States,Full-Time,English,English,Real Estate Rental and Leasing,United States,Female,No
2,6125c5e07f3871f78441b31a,611580c3f490b096b2fa8cfa,APPROVED,2021-08-25 04:25:31.031000,2021-08-25 04:33:24.675000,473.644,22,82,1,100,2021-08-25 15:59:43.552000,9EC36FE2,United States,United States,Part-Time,English,English,Real Estate Rental and Leasing,United States,Male,Yes
3,6125f2cdf3c535a7b4baf54c,60fcce22d78a9a58340d2260,APPROVED,2021-08-25 07:35:41.337000,2021-08-25 07:45:29.891000,588.554,33,49,1,99,2021-08-25 15:59:43.625000,9EC36FE2,United States,United States,Full-Time,English,English,Real Estate Rental and Leasing,United States,Female,No
4,6125f6eab5151424d6e86151,60e48bf26db92a299af63242,APPROVED,2021-08-25 07:59:37.272000,2021-08-25 08:13:20.626000,823.354,31,225,0,100,2021-08-25 15:59:43.709000,9EC36FE2,DATA EXPIRED,United States,Full-Time,English,English,Real Estate Rental and Leasing,United States,Female,No

In [5]:
data.columns

Index(['session_id', 'participant_id', 'status', 'started_datetime',
       'completed_date_time', 'time_taken', 'age', 'num_approvals',
       'num_rejections', 'prolific_score', 'reviewed_at_datetime',
       'entered_code', 'Country of Birth', 'Current Country of Residence',
       'Employment Status', 'First Language', 'Fluent languages', 'Industry',
       'Nationality', 'Sex', 'Student Status'],
      dtype='object')

### Normalize column names

In [6]:
data.columns = data.columns.str.lower()
data.columns = data.columns.str.replace(' ', '_', regex=True)

In [7]:
data.columns

Index(['session_id', 'participant_id', 'status', 'started_datetime',
       'completed_date_time', 'time_taken', 'age', 'num_approvals',
       'num_rejections', 'prolific_score', 'reviewed_at_datetime',
       'entered_code', 'country_of_birth', 'current_country_of_residence',
       'employment_status', 'first_language', 'fluent_languages', 'industry',
       'nationality', 'sex', 'student_status'],
      dtype='object')

### Filter only approved participants

In [8]:
data = data[data.status == 'APPROVED']
data.shape

(108, 21)

### Sex count

In [9]:
data.sex.value_counts()

Female    79
Male      29
Name: sex, dtype: int64

### Average time spent

In [10]:
data.time_taken.mean() / 60

10.207075308641976

In [11]:
data.country_of_birth.value_counts()

United States                        101
Northern Mariana Islands               1
Hong Kong                              1
Israel                                 1
Venezuela, Bolivarian Republic of      1
DATA EXPIRED                           1
Finland                                1
Brazil                                 1
Name: country_of_birth, dtype: int64

In [12]:
data.first_language.value_counts()

English       101
Chinese         3
Spanish         2
Portuguese      1
Lithuanian      1
Name: first_language, dtype: int64

In [13]:
data.student_status.value_counts()

No              80
Yes             21
DATA EXPIRED     7
Name: student_status, dtype: int64

In [14]:
data.nationality.value_counts()

United States    108
Name: nationality, dtype: int64