# Demographic analysis education

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

from matplotlib import pyplot as plt
%matplotlib inline

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
data_raw = pd.read_csv('./data/prolific_export_education.csv')

In [3]:
data = data_raw.copy()
print(data.shape)
data.head()

(191, 22)

,session_id,participant_id,status,started_datetime,completed_date_time,time_taken,age,num_approvals,num_rejections,prolific_score,reviewed_at_datetime,entered_code,Country of Birth,Current Country of Residence,Employment Status,Employment-Sector,First Language,Fluent languages,Industry,Nationality,Sex,Student Status
0,6124699d3df8d8d6e8ce334b,61212beefffd07317f07b55a,APPROVED,2021-08-24 03:38:08.146000,2021-08-24 03:46:09.560000,481.414,22.0,43,0,100,2021-08-25 15:48:16.441000,14E92B13,United States,United States,Full-Time,Education & Training,English,English,Primary/Secondary (K-12) Education,United States,Female,Yes
1,612476804241ac935d23c87c,61137445c179a2570c7be95a,APPROVED,2021-08-24 04:33:17.538000,2021-08-24 04:40:34.861000,437.323,45.0,93,0,100,2021-08-25 15:48:16.521000,14E92B13,United States,United States,Full-Time,Education & Training,English,English,Primary/Secondary (K-12) Education,United States,Female,No
2,61247b448b0174bfd0967596,6102d3c05c31cb5c38158b34,APPROVED,2021-08-24 04:53:27.454000,2021-08-24 05:00:17.573000,410.119,30.0,66,0,100,2021-08-25 15:48:16.592000,14E92B13,United States,United States,Full-Time,Education & Training,English,English,Primary/Secondary (K-12) Education,United States,Female,Yes
3,6124827bac73a3025729f5da,610b88a14eed14f2b8b17b86,APPROVED,2021-08-24 05:24:28.625000,2021-08-24 05:31:48.212000,439.587,22.0,46,0,100,2021-08-25 15:48:16.666000,14E92B13,United States,United States,Part-Time,Education & Training,English,English,Primary/Secondary (K-12) Education,United States,Female,Yes
4,612489c1a8c49007666b059e,610c24152939c927ad421fa9,APPROVED,2021-08-24 05:55:50.597000,2021-08-24 06:01:27.560000,336.963,29.0,72,0,100,2021-08-25 15:48:16.749000,14E92B13,United States,United States,Full-Time,Education & Training,English,English,Primary/Secondary (K-12) Education,United States,Female,No

In [4]:
data.columns

Index(['session_id', 'participant_id', 'status', 'started_datetime',
       'completed_date_time', 'time_taken', 'age', 'num_approvals',
       'num_rejections', 'prolific_score', 'reviewed_at_datetime',
       'entered_code', 'Country of Birth', 'Current Country of Residence',
       'Employment Status', 'Employment-Sector', 'First Language',
       'Fluent languages', 'Industry', 'Nationality', 'Sex', 'Student Status'],
      dtype='object')

### Normalize column names

In [5]:
data.columns = data.columns.str.lower()
data.columns = data.columns.str.replace(' ', '_', regex=True)

In [6]:
data.columns

Index(['session_id', 'participant_id', 'status', 'started_datetime',
       'completed_date_time', 'time_taken', 'age', 'num_approvals',
       'num_rejections', 'prolific_score', 'reviewed_at_datetime',
       'entered_code', 'country_of_birth', 'current_country_of_residence',
       'employment_status', 'employment-sector', 'first_language',
       'fluent_languages', 'industry', 'nationality', 'sex', 'student_status'],
      dtype='object')

### Filter only approved participants

In [7]:
data = data[data.status == 'APPROVED']
data.shape

(168, 22)

In [8]:
data.sex.value_counts()

Female          129
Male             36
DATA EXPIRED      3
Name: sex, dtype: int64

### Average time spent

In [9]:
data.time_taken.mean() / 60

8.49970109126984

In [10]:
data.country_of_birth.value_counts()

United States     163
DATA EXPIRED        3
Hungary             1
United Kingdom      1
Name: country_of_birth, dtype: int64

In [11]:
data.first_language.value_counts()

English         157
Chinese           3
DATA EXPIRED      3
Spanish           2
Hungarian         1
Thai              1
Armenian          1
Name: first_language, dtype: int64

In [12]:
data.student_status.value_counts()

No              109
Yes              39
DATA EXPIRED     20
Name: student_status, dtype: int64

In [13]:
data.nationality.value_counts()

United States    165
DATA EXPIRED       3
Name: nationality, dtype: int64